*{
	box-sizing: border-box;
}
h1{
	width: 100%;
	text-align: center;
}
#asideG_grille_asideD{
	display: flex;
	
	width: 100%;
}
#asideG{
	width:18rem;
	text-align: center;
	flex: 3;
}
#Croix_J1{
	Width:12rem;
	height:12rem;
}
#grille{
	
	width: 18rem;/*16px * 18 = 288px*/
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.case{
	
	width: 6rem;/*16px * 6 = 96px ou 2em si font-size:3em*/
	height: 6rem;/*16px * 6 = 96px ou 2em si font-size:3em*/
	line-height: 6rem;/*16px * 6 = 96px ou 2em si font-size:3em*/
	border: 1px solid #888;
	text-align: center;
	font-size: 3rem;/*16px x 3 = 48px = 1em ou font-size:3em;
	 c'est lui qui donne la taille de départ*/
		
}
#asideD{
	width:18rem;
	flex: 3;
}
#Rond_J2{
	Width:12rem;
	height:12rem;
}